.filme-info{
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    padding: 0 8px;
    margin: 0 auto;
}

.filme-info h1{
    margin: 14px 0;
}

.filme-info img{
    border-radius: 8px;
    width: 800px;
    max-width: 100%;
    max-height: 350px;
    object-fit: cover;
}

.filme-info h3{
    margin-top: 14px;
}

.filme-info span{
    margin: 8px 0;
}

.area-botao button{
    margin-top: 14px;
    margin-right: 12px;
    margin-left: 0;
    font-size: 20px;
    border: 0;
    outline: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    color: red;
    transition: all 0.2s;
}

.area-botao a{
    text-decoration: none;
    color: black;
}

.area-botao button:hover{
    background-color: brown;
    color: white;
}

.area-botao a:hover{  
    color: white;
}

.carregando-info{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    font-size: 12px;
}
